// Этот файл указывает на те файлы, которые не нужно заливать на сервер (в репозиторий), для использования нужно просто написать наименование файла
// Если поставить *.md (указать нужное расширение), он не будет заливать файлы с рашсирением .md
*.fx
